html,body{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
  }

.orgSignup {
    position: absolute;
    top: 20%;
    width: 50%;
    height: 60%;
    right: 25%;
    /* background-color: rgba(0, 0, 0, 0.64); */
    color: rgb(0 0 0 / 55%);
    text-align: center;
    padding: 1% 5% 3% 3% ;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2%;
    background-color: rgba(211, 194, 194, 0.918);
    border: solid gray 1px;
    border-radius: 10px;
}


.orgSignup h2{
    margin-left: -40%;
   padding: 20px  0px 20px 40px;
    display: inline-block;
    font-size: 150%;

 
}

.orgSignup input, select {
    width: 90%;
    border-radius: 10px;
    color: #000000;
    padding-left: 10px;
}

.f{
    padding: 12px;
    color: antiquewhite;
}
.p{
    margin-top: 2%;
    margin-left: -7%;
}

.cross{
    color: black;
    float: right;
    right: -7%; 
    font-size: medium;
    position: relative;
    padding: 5px;
    font-size: 15px;
    background-position: 10px;
    border-radius: 100%;
    /* This cursor pointer is used to change the mouse pointer to hand on touching the button */
    cursor: pointer;  
}



@media screen and (max-width: 886px) {
    html,body{
        width: 100%;
        height: 100%;
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;
      }
    .orgSignup{
        margin-top: 26px;
        width: 60%;
   margin-left: 6%;       
    }
}

@media screen and (max-width: 508px) {
    html,body{
        width: 100%;
        height: 100%;
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;
      }
      .orgSignup{
        margin-top: 26px;
        width: 70%;
        margin-left: 6%;
    }
}

@media screen and (max-width:382px){
    html,body{
        width: 100%;
        height: 100%;
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;
      }
      
    .orgSignup label{
        width: 50%;
    }   
    .orgSignup{
        margin-top: 10px;
        overflow: scroll;
    }
}





