.feedback{
    width: 90%;
    padding: 12px;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.feed-box{
    width: 40%;
    padding: 17px;
    margin: 5%;
    background: rgb(235 233 233);
    color: rgb(64 13 13 / 55%);
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.feed-box h2{
    padding-bottom: 12px;
    box-shadow: 4px 5px 11px 7px #000;
    padding-left: 4px;
}
@media screen and (max-width:550px){
    .feedback{
        flex-direction: column;
    }
    .feed-box{
        width: 80%;
        margin-left: 10%;
    }
}