.ov {
  width: 100%;
  background-color: #000;
  position: sticky;
  top: 0px;
  z-index: 11;
}

  .ov h1{
    padding: 12px;
  }
  .cont{
    width: 100%;
  }
  .hold-menu {
   height: 80px;
    z-index: 1;
    border-top: 3px solid #fff;
}
  
  .right-aligned{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .logo{
    width: 100px;
    border-radius: 22px;
  }
  
  .fixed-top{
    background-color: #0a050526!important;
    font-size: 18px;
  }
  
  .fixed-top a{
    margin-left: 4px;
    box-shadow: 3px 3px 10px #000;
    font-weight: bold;
  }
  
  .nav-link:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .fixed-top a:hover{
    text-decoration: overline;
    border:3px solid #000;
    color:#FBEEC1;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
  }

  @media screen and (max-width:891px){
    .menu ul li {
      margin: 17px;
  }
  }

  
  @media screen and (max-width:725px){
    .menu ul li {
      margin: 10px;
    }
  }
  
  @media screen and (max-width:640px) {
    .burger{
      position: absolute;
      top: 17px;
      right: 12px;
      cursor: pointer;
    }
    .line{
      background: #fff;
      width: 41px;
      height: 6px;
      margin: 5px;
    }
    .menu{
      text-align: center;
      height: 130px;
    }
    .menu ul {
      /* visibility: hidden; */
      
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      right: 29%;
    }
  }

  @media screen and (max-width:310px) {
    .logo{
      margin-left: 166px;
    }
}

.current_status{
  color: #fff;
}
.switch{
  position: relative;
  display: inline-block;
  width: 48px;
  height: 22px;
  margin: -10px 13px;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0%;
  left: 0%;
  bottom: 0;
  right: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition:.4s;
}
.switch input{display: none;}

.slider::before{
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50px;
}
.switch input:checked+.slider{
  background-color: #ac61f7;
}

.switch input:checked+.slider::before{
  transform: translateX(25px);
}





